<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.maziarz.yiiclipse.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.maziarz.yiiclipse.YiiclipseNature">
         </run>
      </runtime>
      <builder
            id="org.maziarz.yiiclipse.builder">
      </builder>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.maziarz.yiiclipse.YiiclipseIncrementalProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?before=additions">
         <command
               commandId="org.maziarz.yiiclipse.commands.addYiiSupport"
               label="Toggle Yii Support"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.maziarz.yiiclipse.handlers.ToggleYiiSupportHandler"
            id="org.maziarz.yiiclipse.commands.addYiiSupport"
            name="Add Yii Support">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/yii8x8.gif"
            id="org.maziarz.yiiclipse.image1"
            natureId="org.maziarz.yiiclipse.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.maziarz.yiiclipse.YiiProjectLightweightDecorator"
            id="org.maziarz.yiiclipse.decorators.yiiProject"
            label="Yii Project">
         <enablement>
            <objectClass
                  name="org.eclipse.dltk.core.IScriptProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.maziarz.yiiclipse.preferences.TopLevelPage"
            id="org.maziarz.yiiclipse.prefs.parent"
            name="Yiiclipse">
      </page>
      <page
            category="org.maziarz.yiiclipse.prefs.parent"
            class="org.maziarz.yiiclipse.preferences.GeneralPage"
            id="org.maziarz.yiiclipse.prefs.general"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.maziarz.yiiclipse.preferences.YiiclipsePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.maziarz.yiiclipse.wizards.category"
            name="Yiiclipse">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.maziarz.yiiclipse.wizards.category"
            class="org.maziarz.yiiclipse.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.php.perspective"
            icon="icons/yii.gif"
            id="org.maziarz.yiiclipse.wizards.newProject"
            name="New Yii Framework Project"
            preferredPerspectives="org.eclipse.php.perspective"
            project="true">
         <description>
            Creates new Yii Framework based PHP Project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.maziarz.yiiclipse.hyperlinks.YiiHyperlinkDetector"
            id="org.maziarz.yiiclipse.hyperlinkDetector"
            name="Yiiclipse hyperlinks"
            targetId="org.eclipse.php.core.phpsource">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.php.core.goalEvaluatorFactories">
         <factory 
         	class="org.maziarz.yiiclipse.YiiGoalEvaluatorFactory"
		    priority="100">
		 </factory>
   </extension>
   <extension
         point="org.eclipse.php.core.completionContextResolvers">
         <resolver class="org.maziarz.yiiclipse.completion.YiiContextResolver"/>
   </extension>
   <extension
         point="org.eclipse.php.core.completionStrategyFactories">
         <factory class="org.maziarz.yiiclipse.completion.YiiCompletionStrategyFactory"/>
   </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.maziarz.yiiclipse.completion.YiiclipseCompletionEngine"
            nature="org.eclipse.php.core.PHPNature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            activate="false"
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.maziarz.yiiclipse.completion.YiiScriptCompletionProposalComputer"
            toolkitId="org.eclipse.php.core.PHPNature">
         <partition
               type="org.eclipse.php.PHP_DEFAULT">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
</plugin>
